* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.app-background {
  background-color: #536162;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.main-container {
  background-color: #F8ECC2;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 20px;
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.35);
}

.frontpage {
  background-color: #F8ECC2;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.35);
}

.frontpage-top {
  background-color: #536162;
  min-height: 100px;
  /* margin-top: auto; */
}

#frontpage-buttons {
  background-color: #424642;
  color:white;
  margin: 5px;
}

#header {
  padding-top: 10px;
}

.cursorPointer {
  cursor: pointer;
}

.strikethrough {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

#quantity-input {
  width: 5em;
  border-color: rgba(0, 0, 0, 0.35);
  background-color: #f3f4ed;
  font-weight: bold;
}

#name-input {
  border-color: rgba(0, 0, 0, 0.35);
  background-color: #f3f4ed;
  font-weight: bold;
  max-width: 150px;
}

#name-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

#add-button {
  background-color: #424642;
  color:white;
}

.item-list {
  display: flex;
}

.item-name {
  cursor: pointer;
  padding-left: 10px;
  font-weight: bold;
  font-size: 16px;
  align-self: center;
}

.quantity {
  display: flex;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 20px;
  font-size: 16px;
  /* color: #ec645b; */
  width: 70px;
  max-height: 30px;
  justify-content: center;
  font-weight: bold;
}

.button-plus {
  background: transparent;
  border: none;
  cursor: pointer;
  /* color: #ec645b; */
}
.button-minus {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 3px;
  /* color: #ec645b; */
}

.edit-and-remove-buttons {
  margin-left: auto;
  display: flex;
  align-self: center;
}

#delete-checked-button {
  background-color: #c06014;
  color: white;
}